<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>afpl</string>
        <key>typeName</key>
        <string>augn</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>rioc</string>
        <key>typeName</key>
        <string>auou</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>atap</string>
        <key>typeName</key>
        <string>auou</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>bpas</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>conv</string>
        <key>typeName</key>
        <string>aufc</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>defr</string>
        <key>typeName</key>
        <string>aufc</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>dely</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>ahal</string>
        <key>typeName</key>
        <string>auou</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>dist</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>dcmp</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>filt</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>greq</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>hshf</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>hpas</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>lpas</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>lshf</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>mxmx</string>
        <key>typeName</key>
        <string>aumx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>mrev</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>merg</string>
        <key>typeName</key>
        <string>aufc</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>msyn</string>
        <key>typeName</key>
        <string>aumu</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>smxr</string>
        <key>typeName</key>
        <string>aumx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>3dmx</string>
        <key>typeName</key>
        <string>aumx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>mcmp</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>mcmx</string>
        <key>typeName</key>
        <string>aumx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>mspl</string>
        <key>typeName</key>
        <string>aumx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>nbeq</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>nrcv</string>
        <key>typeName</key>
        <string>augn</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>nsnd</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>nutp</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>nutp</string>
        <key>typeName</key>
        <string>aufc</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>ipto</string>
        <key>typeName</key>
        <string>aufc</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>pmeq</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>lmtr</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>tmpt</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>rvb2</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>rogr</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>raac</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>sdly</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>samp</string>
        <key>typeName</key>
        <string>aumu</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>sspl</string>
        <key>typeName</key>
        <string>augn</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>ambi</string>
        <key>typeName</key>
        <string>aupn</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>vois</string>
        <key>typeName</key>
        <string>aufx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>3dem</string>
        <key>typeName</key>
        <string>aumx</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>ttsp</string>
        <key>typeName</key>
        <string>augn</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>sphr</string>
        <key>typeName</key>
        <string>aupn</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>splt</string>
        <key>typeName</key>
        <string>aufc</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>tmpt</string>
        <key>typeName</key>
        <string>aufc</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>tmpt</string>
        <key>typeName</key>
        <string>auol</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>vari</string>
        <key>typeName</key>
        <string>aufc</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>vari</string>
        <key>typeName</key>
        <string>auol</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>vbas</string>
        <key>typeName</key>
        <string>aupn</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>vpio</string>
        <key>typeName</key>
        <string>auou</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>def </string>
        <key>typeName</key>
        <string>auou</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>dls </string>
        <key>typeName</key>
        <string>aumu</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>genr</string>
        <key>typeName</key>
        <string>auou</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>hrtf</string>
        <key>typeName</key>
        <string>aupn</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>crnc</string>
        <key>typeName</key>
        <string>ausp</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>axsr</string>
        <key>typeName</key>
        <string>ausp</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>sys </string>
        <key>typeName</key>
        <string>auou</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>out </string>
        <key>typeName</key>
        <string>aunt</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Artu</string>
        <key>name</key>
        <string>T303</string>
        <key>typeName</key>
        <string>aumu</string>
        <key>versionUrl</key>
        <string>https://www.arturia.com/api/resources?slugs=acid-v&amp;types</string>
        <key>versionJMESPath</key>
        <string>[?type == 'soft'].version | [0]</string>
        <key>update</key>
        <string>open &apos;/Applications/Arturia/Arturia Software Center.app&apos;</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Artu</string>
        <key>name</key>
        <string>Alav</string>
        <key>typeName</key>
        <string>aumu</string>
        <key>versionUrl</key>
        <string>https://www.arturia.com/api/resources?slugs=analoglab-v&amp;types</string>
        <key>versionJMESPath</key>
        <string>[?type == 'soft'].version | [0]</string>
        <key>update</key>
        <string>open &apos;/Applications/Arturia/Arturia Software Center.app&apos;</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Artu</string>
        <key>name</key>
        <string>FiMs</string>
        <key>typeName</key>
        <string>aumf</string>
        <key>versionUrl</key>
        <string>https://www.arturia.com/api/resources?slugs=filter-ms-20&amp;types</string>
        <key>versionJMESPath</key>
        <string>[?type == 'soft'].version | [0]</string>
        <key>update</key>
        <string>open &apos;/Applications/Arturia/Arturia Software Center.app&apos;</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Chry</string>
        <key>name</key>
        <string>SEMo</string>
        <key>typeName</key>
        <string>aumu</string>
        <key>versionUrl</key>
        <string>https://cherryaudio.com/products/synthesizer-expander-module/version-history</string>
        <key>versionRegex</key>
        <string>&lt;strong&gt;(\d\.\d\.\d)&lt;/strong&gt;</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Chry</string>
        <key>name</key>
        <string>SEMo</string>
        <key>typeName</key>
        <string>auvw</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>kona</string>
        <key>typeName</key>
        <string>ausp</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>kphp</string>
        <key>typeName</key>
        <string>aumu</string>
        <key>versionUrl</key>
        <string>https://kilohearts.com/files/releases/index.json</string>
        <key>versionJMESPathInt</key>
        <string>releases[0].version</string>
        <key>update</key>
        <string>Run plugin in host, click version number in upper left</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksqe</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksbc</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>kscm</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksch</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>kscf</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>kscp</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksdl</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksdt</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksdd</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksot</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksun</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksfi</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksfl</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksvf</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksfs</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksgn</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksgt</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksha</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksla</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>kslt</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksdf</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>kspd</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksph</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksps</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksre</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksrv</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksrr</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksrm</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksst</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>ksts</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>kstg</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string> kHs</string>
        <key>name</key>
        <string>kstr</string>
        <key>typeName</key>
        <string>aufx</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>wari</string>
        <key>typeName</key>
        <string>ausp</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>wara</string>
        <key>typeName</key>
        <string>ausp</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>appl</string>
        <key>name</key>
        <string>mctk</string>
        <key>typeName</key>
        <string>ausp</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Moog</string>
        <key>name</key>
        <string>Mari</string>
        <key>typeName</key>
        <string>aumu</string>
        <key>versionUrl</key>
        <string>https://software.moogmusic.com/update</string>
        <key>versionJMESPath</key>
        <string>"Software Updates".SoftwareProducts[?Name == 'mariana'].CurrentVersion | [0]</string>
        <key>update</key>
        <string>Run host, open plugin</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Manu</string>
        <key>name</key>
        <string>C25p</string>
        <key>typeName</key>
        <string>aumu</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>UHfX</string>
        <key>name</key>
        <string>DiVa</string>
        <key>typeName</key>
        <string>aumu</string>
        <key>versionUrl</key>
        <string>https://uhe-dl.b-cdn.net/releases/</string>
        <key>versionRegex</key>
        <string>Diva_(\d*)_(\d*)_Mac</string>
        <key>update</key>
        <string>Download update from https://u-he.com/products/diva/</string>
    </dict>
</array>
</plist>
