<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUMIDISynth</string>
        <key>typeName</key>
        <string>Music Device</string>
        <key>versionUrl</key>
        <string></string>
        <key>versionRegex</key>
        <string></string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Arturia</string>
        <key>name</key>
        <string>Filter MS-20</string>
        <key>typeName</key>
        <string>Music Effect</string>
        <key>versionUrl</key>
        <string>https://www.arturia.com/support/downloads&amp;manuals</string>
        <key>versionRegex</key>
        <string>Filter_MS\-20__(\d*_\d*_\d*_\d*)\.pkg\\"&gt;Filter MS\-20</string>
    </dict>
</array>
</plist>
