<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUAudioFilePlayer</string>
        <key>typeName</key>
        <string>Generator</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUAudioIO</string>
        <key>typeName</key>
        <string>Output</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUAudioTapIO</string>
        <key>typeName</key>
        <string>Output</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUBandpass</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUConverter</string>
        <key>typeName</key>
        <string>Format Converter</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUDeferredRenderer</string>
        <key>typeName</key>
        <string>Format Converter</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUDelay</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AudioDeviceOutput</string>
        <key>typeName</key>
        <string>Output</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUDistortion</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUDynamicsProcessor</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUFilter</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUGraphicEQ</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUHighShelfFilter</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUHipass</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AULowpass</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AULowShelfFilter</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUMatrixMixer</string>
        <key>typeName</key>
        <string>Mixer</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUMatrixReverb</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUMerger</string>
        <key>typeName</key>
        <string>Format Converter</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUMIDISynth</string>
        <key>typeName</key>
        <string>Music Device</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUMixer</string>
        <key>typeName</key>
        <string>Mixer</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUMixer3D</string>
        <key>typeName</key>
        <string>Mixer</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUMultibandCompressor</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUMultiChannelMixer</string>
        <key>typeName</key>
        <string>Mixer</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUMultiSplitter</string>
        <key>typeName</key>
        <string>Mixer</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUNBandEQ</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUNetReceive</string>
        <key>typeName</key>
        <string>Generator</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUNetSend</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUNewPitch</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUNewTimePitch</string>
        <key>typeName</key>
        <string>Format Converter</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUNotQuiteSoSimpleTime</string>
        <key>typeName</key>
        <string>Format Converter</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUParametricEQ</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUPeakLimiter</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUPitch</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUReverb2</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AURogerBeep</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AURoundTripAAC</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUSampleDelay</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUSampler</string>
        <key>typeName</key>
        <string>Music Device</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUScheduledSoundPlayer</string>
        <key>typeName</key>
        <string>Generator</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUSoundFieldPanner</string>
        <key>typeName</key>
        <string>Panner</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUSoundIsolation</string>
        <key>typeName</key>
        <string>Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUSpatialMixer</string>
        <key>typeName</key>
        <string>Mixer</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUSpeechSynthesis</string>
        <key>typeName</key>
        <string>Generator</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUSphericalHeadPanner</string>
        <key>typeName</key>
        <string>Panner</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUSplitter</string>
        <key>typeName</key>
        <string>Format Converter</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUTimePitch</string>
        <key>typeName</key>
        <string>Format Converter</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUTimePitch</string>
        <key>typeName</key>
        <string>Offline Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUVarispeed</string>
        <key>typeName</key>
        <string>Format Converter</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUVarispeed</string>
        <key>typeName</key>
        <string>Offline Effect</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUVectorPanner</string>
        <key>typeName</key>
        <string>Panner</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>AUVoiceProcessor</string>
        <key>typeName</key>
        <string>Output</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>DefaultOutputUnit</string>
        <key>typeName</key>
        <string>Output</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>DLSMusicDevice</string>
        <key>typeName</key>
        <string>Music Device</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>GenericOutput</string>
        <key>typeName</key>
        <string>Output</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>HRTFPanner</string>
        <key>typeName</key>
        <string>Panner</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>MauiAUSP</string>
        <key>typeName</key>
        <string>Unknown</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>SiriAUSP</string>
        <key>typeName</key>
        <string>Unknown</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>SystemOutputUnit</string>
        <key>typeName</key>
        <string>Output</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Apple</string>
        <key>name</key>
        <string>SystemOutputUnit</string>
        <key>typeName</key>
        <string>Unknown</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Arturia</string>
        <key>name</key>
        <string>Acid V</string>
        <key>typeName</key>
        <string>Music Device</string>
        <key>versionUrl</key>
        <string>https://www.arturia.com/api/resources?slugs=acid-v&amp;types</string>
        <key>versionJMESPath</key>
        <string>[?type == 'soft'].version | [0]</string>
        <key>update</key>
        <string>open &apos;/Applications/Arturia/Arturia Software Center.app&apos;</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Arturia</string>
        <key>name</key>
        <string>Analog Lab V</string>
        <key>typeName</key>
        <string>Music Device</string>
        <key>versionUrl</key>
        <string>https://www.arturia.com/api/resources?slugs=analoglab-v&amp;types</string>
        <key>versionJMESPath</key>
        <string>[?type == 'soft'].version | [0]</string>
        <key>update</key>
        <string>open &apos;/Applications/Arturia/Arturia Software Center.app&apos;</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Arturia</string>
        <key>name</key>
        <string>Filter MS-20</string>
        <key>typeName</key>
        <string>Music Effect</string>
        <key>versionUrl</key>
        <string>https://www.arturia.com/api/resources?slugs=filter-ms-20&amp;types</string>
        <key>versionJMESPath</key>
        <string>[?type == 'soft'].version | [0]</string>
        <key>update</key>
        <string>open &apos;/Applications/Arturia/Arturia Software Center.app&apos;</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Cherry Audio</string>
        <key>name</key>
        <string>Synthesizer Expander Module</string>
        <key>typeName</key>
        <string>Music Device</string>
        <key>versionUrl</key>
        <string>https://cherryaudio.com/products/synthesizer-expander-module/version-history</string>
        <key>versionRegex</key>
        <string>&lt;strong&gt;(\d\.\d\.\d)&lt;/strong&gt;</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Cherry Audio</string>
        <key>name</key>
        <string>Synthesizer Expander Module View</string>
        <key>typeName</key>
        <string>Unknown</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Eloquence</string>
        <key>name</key>
        <string>KonaSynthesizer</string>
        <key>typeName</key>
        <string>Unknown</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>Phase Plant</string>
        <key>typeName</key>
        <string>Music Device</string>
        <key>versionUrl</key>
        <string>https://kilohearts.com/files/releases/index.json</string>
        <key>versionJMESPathInt</key>
        <string>releases[0].version</string>
        <key>update</key>
        <string>Run plugin in host, click version number in upper left</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs 3-Band EQ</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Bitcrush</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Channel Mixer</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Chorus</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Comb Filter</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Compressor</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Delay</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Distortion</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Dual Delay</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Dynamics</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Ensemble</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Filter</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Flanger</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Formant Filter</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Frequency Shifter</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Gain</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Gate</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Haas</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Ladder Filter</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Limiter</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Nonlinear Filter</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Phase Distortion</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Phaser</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Pitch Shifter</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Resonator</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Reverb</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Reverser</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Ring Mod</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Stereo</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Tape Stop</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Trance Gate</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Kilohearts</string>
        <key>name</key>
        <string>kHs Transient Shaper</string>
        <key>typeName</key>
        <string>Effect</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Legacy</string>
        <key>name</key>
        <string>WardaSynthesizer_x86_64</string>
        <key>typeName</key>
        <string>Unknown</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Legacy</string>
        <key>name</key>
        <string>WardaSynthesizerArm</string>
        <key>typeName</key>
        <string>Unknown</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>MacinTalk</string>
        <key>name</key>
        <string>MacinTalkAUSP</string>
        <key>typeName</key>
        <string>Unknown</string>
        <key>system</key>
        <true/>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Moog</string>
        <key>name</key>
        <string>Mariana</string>
        <key>typeName</key>
        <string>Music Device</string>
        <key>versionUrl</key>
        <string>https://software.moogmusic.com/update</string>
        <key>versionJMESPath</key>
        <string>"Software Updates".SoftwareProducts[?Name == 'mariana'].CurrentVersion | [0]</string>
        <key>update</key>
        <string>Run host, open plugin</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>Toybox</string>
        <key>name</key>
        <string>Thump One</string>
        <key>typeName</key>
        <string>Music Device</string>
    </dict>
    <dict>
        <key>manufacturer</key>
        <string>u-he</string>
        <key>name</key>
        <string>Diva</string>
        <key>typeName</key>
        <string>Music Device</string>
        <key>versionUrl</key>
        <string>https://uhe-dl.b-cdn.net/releases/</string>
        <key>versionRegex</key>
        <string>Diva_(\d*)_(\d*)_Mac</string>
        <key>update</key>
        <string>Download update from https://u-he.com/products/diva/</string>
    </dict>
</array>
</plist>
